body {
    margin: 0;
    background-color: #FFEBC6;
    background-image: linear-gradient(#FFFFFF, #F2972E);
    background-repeat: repeat-x;
}

.frame {
    margin-left: 183px;
    margin-right: 184px;
    margin-bottom: 197px;
    background: #FFFFFF;
}

header {
    height: 139px;
    padding-left: 38px;
    display: flex;

    border-bottom: 2px solid #F2972E;

}

.logo {
    width: 90px;
    height: 80px;
    padding-top: 32px;
    padding-right: 35px;
}

h1 {
    margin-bottom: 0;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    /* identical to box height, or 143% */

    color: #F2972E;

    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
}

.word_1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    padding-top: 39px;
    padding-left: 27px;
    padding-bottom: 32px;

    border-bottom: 2px solid #F2972E;
}

.word_2 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    /* identical to box height, or 143% */

    color: #000000;
}

.container_1 {
    display: flex;
}

.cont_left {
    flex: 0.4;
    padding-right: 30px;
}

.word_3 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #000000;
}

.image_1 {
    width: 300px;
    height: 234px;
}

.center {
    flex: 0.4;
    padding-right: 32px;
}

.cont_right {
    background-color: #FFEBC6;
    height: 370px;
    padding-top: 26px;
    padding-left: 15px;
    padding-right: 22px;
}

.word_4 {
    padding-left: 15px;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #000000;
}

li {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    /* or 229% */


    color: #000000;
}

li a {
    color: red;
}

.word_4 a {
    color: red;
}

footer {
    padding-left: 570px;
    padding-bottom: 37px;
}