body {
    margin: 0;
    max-width: 1200px;
    margin: 100px auto;
}

header {
    box-shadow: 0px 4px 35px rgb(77 77 255 / 15%);
    border-radius: 20px;
    padding: 0 63px 28px 62px;
}

h1 {
    padding-top: 57px;
    font-weight: 700;
    font-size: 45px;
    line-height: 123.4%;
    /* or 56px */

    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.48);
}

.line_1 {
    width: 1000px;
    opacity: 0.1;
    border: 1px solid #000000;
    transform: matrix(1, -0.01, 0.01, 1, 0, 0);
}

.text_1 {
    padding: 67px 87px 61px 0;
    max-width: 1075px;
    /* padding-top: 67px;
    padding-right: 87px;
    padding-bottom: 61px;
    padding-left: 37px; */
}