body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}

.logo{
    width: 100px;
    height: 100%;
}

.imglogo{
    max-width: 100%;
}

.header-form {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.header-form1{
    flex: 0.25;
}

.header-form2{
    flex: 0.5;
}
.header-form3{

}

.banner{
height: 400px;
background-image: url('./images/fastfoodheartdiseasepic3_281322855.jpg');
}

.container{
    height: 400px;
    background-color: burlywood;
}

.footer{
    height: 40px;
    background-color: blueviolet;
}