body {
  margin: 0;
  padding: 0;
}

.top_nav {
  padding-top: 48.7px;
  padding-left: 140.92px;
  display: flex;
  align-items: center;
}

.word_topnav {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #212832;
}

.logo {
  width: 114.91px;
  height: 33.99px;

  font-family: 'Volkhov';
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 34px;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 222px;
}

li {
  padding-right: 62px;
}

header button {
  width: 102px;
  height: 40px;
  border: 1px solid #212832;
  border-radius: 5px;
}

.dropdown {
  padding-left: 62px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.hero_content {
  display: flex;
}

.desc {
  padding-top: 134px;
  padding-left: 148px;
}

.word_h1 {
  width: 550px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-transform: uppercase;

  color: #DF6951;
}

.desc_1 {
  width: 400px;
  margin-bottom: 34px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  color: #5E6282;
}

.cta {
  display: flex;
  align-items: center;
}

.cta button {
  /* yellow */
  width: 170px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #F1A501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;

  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  /* white */

  color: #FFFFFF;
}

.cta i {
  padding-left: 44px;
  padding-right: 21px;
}

.cta p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height */

  color: #686D77;
}

h1 {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  /* or 106% */

  letter-spacing: -0.04em;

  /* 1st */

  color: #181E4B;
}

.hero_content img {
  width: 765px;
  height: 764px;
  padding-top: 22.31px;
  padding-right: 565px;
}